/* Reset and base styles */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    color: #003b49;;
    background-color: #f4f4f4;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


h3 {
    font-size: 14px;
    font-weight: bold;
}

.bold-text {
    font-weight: bold;  
}

main h2, footer h2 {
    text-decoration: underline; 
    font-size: 15px; 
    font-weight: bold; 
    text-decoration: underline;
    text-decoration-thickness: 2px; 
    text-underline-offset: 4px; 
}

/* Targeting all img tags within buttons */
button img {
    filter: brightness(0) invert(1);
}

/* Specifically targeting icons within a certain class for more precision */
.interactive-buttons img,
.service-options img {
    filter: brightness(0) invert(1);
}
