/* Header styles */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px 5%;
  border-bottom: 3px solid #cfcece;
  transition: all 0.3s ease; /* Smooth transition for shrinking */
}


.top-header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between; /* This will space out the three columns */
  align-items: center;
  width: 100%;
  transition: transform 0.3s ease; /* Smooth transform transition */
}


/* Define the shrink effect */
.top-header.shrink {
  transform: scale(0.75); /* Reduces the size by 25% */
}

header.shrink {
  padding: 7.5px 5%; /* Reduced padding when shrinking */
}

.LogoTagline {
  flex: 1; /* Allows for flexible sizing but with a maximum limit */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns logo and tagline to the start */
  color: #003b49;
}

.LogoTagline h1 {
  font-family: 'Shrikhand', cursive; /* Shrikhand font */
  font-size: 35px; /* Font size of 40 pixels */
  font-weight: bold; /* Bold font weight */
   /* Adjust color as needed */
}

.interactive-buttons {
  display: flex;
  justify-content: center;
  flex: 2; /* Gives the middle section more space to center the buttons */
  gap: 10px; /* Provides spacing between buttons */
}

.search-form {
  display: flex;
  justify-content: flex-end; /* Aligns search form to the end */
  flex: 1; /* Same flexibility as logo to maintain balance */
}

/* Form adjustments for better alignment and appearance */
.search-form input[type="text"] {
  width: 100%;
}

.search-form button {
  padding: 5px;
  background-color: #5cb85c;
  border: none;
  cursor: pointer;
}

/* Navigation menu */
nav {
  width: 100%;
  text-align: center;
  margin-top: 25px; /* Space between header and nav */
  margin-bottom: 5px;
  transition: margin-top 0.3s ease; /* Smooth transition for top margin */
}

nav.shrink {
  margin-top: 10px; /* Reduced top margin when top-header shrinks */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  font-weight: bold;
  font-size: 16px;
  color: #003b49;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .top-header {
    flex-direction: column;
  }

  .LogoTagline, .interactive-buttons, .search-form {
    width: 100%; /* Stacks and expands elements to full width on small screens */
    justify-content: center;
    margin-top: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    display: block;
  }
}

.top-header, .interactive-buttons, .search-form {
  overflow: hidden; /* Prevents children from causing size issues */
}