
form[role="search"] {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    flex-grow: 1; 
}

form[role="search"] label {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
    display: none; 
}

/* Improving input field styling */
input[type="text"] {
    margin-left: 25px;
    flex-grow: 1; 
    padding: 9px;
    padding-left: 15px;
    border: 2px solid #003b49;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* Style for the search button */
form[role="search"] button {
    padding: 9px 12px;
    background-color: #003b49; 
    border: none;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

form[role="search"] button:hover {
    background-color: #028aac; 
}

form[role="search"] img {
    width: 20px; 
    height: 20px;
}
