.skip-links {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}

.skip-link:focus {
    position: absolute;
    left: 10px;
    top: 10px;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    clip-path: none;
    background: #FFF; 
    padding: 10px; 
    border: 1px solid #000; 
    z-index: 10000; 
}
